{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container text-center">
        <div class="d-flex justify-content-end w-100 mb-4">
            <button onclick="window.location.reload();" class="btn btn-dark btn-export">Atualizar</button>
        </div>
        <h1 class="mb-4">Dashboard de Temperatura e Umidade</h1>
        <form method="get" action="{{ url_for('dashboard') }}" class="mb-4 date-form">
            <label for="start_date">Data Início:</label>
            <input type="date" id="start_date" name="start_date" class="form-control date-input" value="{{ request.args.get('start_date', '') }}" required>
            <label for="end_date">Data Fim:</label>
            <input type="date" id="end_date" name="end_date" class="form-control date-input" value="{{ request.args.get('end_date', '') }}" required>
            <button type="submit" class="btn btn-custom mt-2">Filtrar</button>
        </form>
        <div class="chart-container mb-4">
            <!-- Gráfico -->
            {{ combined_graph|safe }}
        </div>
        <form action="{{ url_for('export_csv') }}" method="get">
            <button type="submit" class="btn btn-dark btn-export mt-4">Exportar Dados em CSV</button>
        </form>
    </div>
</div>
{% endblock %}